/* Add your CSS to this file */
body {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 4.5% 13% 26% 13% 26% 13% 4.5%;
    grid-gap: 10px;
    margin: 80px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
header {
    grid-row:1;
    background: #FFFFFF;
    font-size:18px;
    margin: 0 auto;
    max-width: 1260px;
    width: 100%;
    
}
h1 {
    float: left;
}
nav {
    float: right;
}
ul {
    list-style: none;    
}
ul li {
    display: inline-block;
    padding: 2px;  
      
}
a {
    color: #6b7280;
}
a:hover {
    color:#5A67D8;
}
.overview-hero .container{
    grid-row:2;
    display: flex;
    flex-direction:row;
    padding:150px;
    background:#E2E8F0;
    
}
.overview-hero-image img{
    float:left;    
    height: 254px;
    width: 343px; 
    padding:10px;   
}
.overview-hero-text {
    float:right; 
    padding:20px;   
}
/* .overview-hero-text p{
    float:right;    
} */

.learn-about {
    grid-row:3;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;  
    padding-left:75px; 
    padding-right:75px;
    padding-top: 30px; 
    padding-bottom: 30px;
}
.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1px;
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    box-shadow:2px 2px 0.5px 1px #ccd1d8;
}
.card img {
    max-width: 250px;    
    grid-row:1;        
}
.card-body {
    grid-row:2;
    padding:5px;
}
.card-body h3 {
    color:#48BB78;
    font-size:21px;
}
.learn-about .container h2 {    
    text-align: left;
    font-size:24px;
    color: #48BB78;
    padding-left: 75px;
}
.card:nth-child(1) {
    grid-column:1;
    
}
.card:nth-child(2) {
    grid-column:2;    
}
.card:nth-child(3) {
    grid-column:3;    
}



.testing {
    grid-row:4;  
}
.testing .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    padding: 150px;    
    background:#4A5568;
    color:#FFFFFF;
}
.testing-description {
    grid-column: 1;
}
.testing-description h2{
    padding: 30px;
}
.testing-description p{
    padding: 30px;
}
.cta {
    grid-column: 2;
    padding:50px;
    

}
.cta a {
    background:#48BB78;
    border-radius:5px;
    height:60px;
    width: 150px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.stories {
    grid-row:5;
}
.stories .container {
    padding: 150px;
}
.stories .container h2{
    color:#5A67D8;
}
.stories .container a{
    color:#5A67D8;
}
.stories .container h3{
    font-size:18px;
}
article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    padding: 20px;
}
article img {
    grid-column: 1;
    max-width:250px;    
    border-radius: 50%;
}
article .article-body {
    grid-column:2;
}
.newsletter {
    grid-row:6;   

}
.newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
    background:#48BB78;
    color: #FFFFFF;  
    padding:150px;
}
.newsletter .container h3{
    grid-row:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter .container p{
    grid-row:2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .container form {
    grid-row:3;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .form-group {
    float:left;
    padding-right: 5px;
    border-radius: 5px;
}

form .form-group input {
    padding-right: 5px;
    padding-left: 15px;
    border-radius: 5px;
    border:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    height:30px;
    width: 200px;
}

form button {
    float:right;
    padding-left: 5px;
    background:#5A67D8;
    border-radius: 5px;
    border:#5A67D8 1px;
    color:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    height:30px;
    width: 100px;
}


footer {
    grid-row:7;
    background: #4A5568;
    color:#FFFFFF;
    margin: 0 auto;
    max-width: 1260px;
    width: 100%;
}